.feynman {
    height: 890px;
    overflow: auto;
    position: relative;
    background-image: url("feynman.png");
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 867px 637px;
}